@import url("./view/base/reset.css");
@import url("./view/base/index.css");
@import url("./view/header/index.css");
@import url("./view/container/index.css");
@import url("./view/hero/index.css");
@import url("./view/button/index.css");
@import url("./view/training/index.css");
