.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 130px;
  min-height: 40px;
  border-radius: 35px;
  background-color: var(--yellow);
  padding: 13px 23px 16px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: none;
}
