:root {
    --surface-0: oklch(100% 0 0);
    --surface-1: oklch(98.34% 0.004 236.5);
    --surface-2: oklch(84% 0.077 208.4);
    --surface-3: oklch(60.79% 0.171 268.48);
    --text-primary: oklch(28.62% 0.096 264.81);
    --text-secondary: oklch(99.2% 0.003 67.78);
    --text-tertiary: oklch(54.52% 0.035 266.93);
    --surface-4: oklch(89.62% 0.108 83.78);
    --surface-5: oklch(85.47% 0.083 0.89);
  }


