@import url("../montserrat/montserrat.css");
@import url("./colors.css");

html {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

body {
  color: var(--text-primary);
  background-color: var(--surface-0);
}
