.classes {
  @media (width > 767px) {
    width: 354px;
  }
}

.classes__subtitle {
  margin-block-end: 25px;
  font-size: 16px;
  font-weight: 500;

  @media (width > 767px) {
    margin-block-end: 30px;
    font-size: 18px;
  }
}

.classes__preview {
  position: relative;
  margin-block-end: 60px;
}


.classes__play {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  transform: translate(-50%, -50%);
  width: 51px;
  height: 51px;
  background-image: url("/view/classes/play.svg");
  background-repeat: no-repeat;
  border: none;
  /* background-color: transparent; */
  cursor: pointer;
}
